<!DOCTYPE html>
<html>
  <head>
    <title>StarWarsBnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' %>
    <%= favicon_link_tag asset_path('favicon-rebel.ico'), :rel => 'icon', :type => "image/x-icon" %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
